<!DOCTYPE html>
<html>
<body>
<h1 style="text-align:center" ><span style="background-color:yellow">cakes</span></h1>

<div class="card">
  <img src="../../assets/images/engagement.jpeg" alt="engagement cake" style="width:40%">
  <h1>Engagement Cake</h1>
  <p class="price">Rs 450</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
</div>
<div class="card">
  <img src="../../assets/images/customized.jpeg" alt="customized cake" style="width:40%">
  <h1>Customized Cake</h1>
  <p class="price">Rs 1200</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
</div>
  <div class="card">
  <img src="../../assets/images/normal.jpeg" alt="Normal cake" style="width:40%">
  <h1>Normal Cake</h1>
  <p class="price">Rs 450</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/unique.jpeg" alt="unique cake" style="width:40%">
  <h1>Unique Cake</h1>
  <p class="price">Rs 500</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/yellow design.jpeg" alt="yellow cake" style="width:40%">
  <h1>Mix Fruit Cake</h1>
  <p class="price">Rs 500</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/Fitness.jpeg" alt="Fitness cake" style="width:40%">
  <h1>Fitness special Cake</h1>
  <p class="price">Rs 1200</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/girl.jpeg" alt="Girl cake" style="width:40%">
  <h1>Girls Fev Cake</h1>
  <p class="price">Rs 1000</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/red heart.jpeg" alt="Redheart cake" style="width:40%">
  <h1>ReadHeart Cake</h1>
  <p class="price">Rs 100</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/normal3.jpeg" alt="Normal cake" style="width:40%">
  <h1>Normal Cake</h1>
  <p class="price">Rs 450</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/normal33.jpeg" alt="Normal cake" style="width:40%">
  <h1>Normal Cake</h1>
  <p class="price">Rs 450</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/heart.jpeg" alt="Heart cake" style="width:40%">
  <h1>Heart Shape</h1>
  <p class="price">Rs 500</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/love.jpeg" alt="Love cake" style="width:40%">
  <h1>Love Cake</h1>
  <p class="price">Rs 500</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
  </div>
  <div class="card">
  <img src="../../assets/images/birthday.jpeg" alt="Birthday cake" style="width:40%">
  <h1>Birthday Cake</h1>
  <p class="price">Rs 500</p>
  <p><button (click)="Addedcart()">Add to Cart</button></p>
</div>
</body>
</html>